html{
    text-align: center;
}
#profile{
    background: linear-gradient(#61075f,#854db3,#f249ef,#fca2da);
    max-height: 1050px;
    margin: 20px;
    z-index: 10;
    padding: 10px;
    
}
#dp{
    height:150px;
    border-radius: 360px;
    margin-top: 50px;
    
}
h1{
    font-size:70px;
    font-family:monospace;
    margin: 0;
}
#name{
    font-size:50px;
    font-family:fantasy;
     margin: 0;
   }
#painting{
    height:150px;
    border-radius: 360px;
}
h3{
    font-size:40px;
    font-family:monospace;
margin: 0;}
h4{
    font-size:50px;
    font-family:fantasy;
margin: 0;}
#paint{
   font-size:20px;
    max-width: 400px;
    margin-left: 415px;
}
#about{
   font-size:20px;
    max-width: 400px;
    margin-left: 440px;}
.line{
    width: 450px;
    height: 6px;
    margin:8px auto;
    background-color: black;
}
#hobby{
    background: linear-gradient(#46e36b,#d2f547,#e4fc83,#67eb86,#97f7ad);
    margin: 20px;
    padding:0;
}
html{
    background-color:darkcyan
}
#hobby{
    text-align: center;
    font-size: 42px;
    padding: 50px;
}
.menu{
    z-index: 9;
    list-style: none;
    position:fixed;
    top: 0px;
    right:27px;
    cursor:pointer;
    font-family: sans-serif;
    margin: 0px;
    margin-right: 0px;
    opacity: 0.7;
}
.links{
   padding-top: 5px;
   padding-left: 9px;
   padding-right: 9px;
    padding-bottom: 5px;
    float: left;
    font-size: 17px;
    color: black;
    font-family:serif;
    background-color:white;
   width: 130px;
    

}
.links:hover{
    background-color:black;
    color: white;
}
